*{
    margin: 0;
    padding: 0;
    /* outline: palegreen solid; */
    color: #fff;
}
img#logo{
    border-radius: 50%;
    border: 0.2em solid rgba(255, 255, 255, 0.5);
    width: 75px;
    margin: 0.5em;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    background: linear-gradient(45deg, rgb(0, 162, 255), rgb(177, 177, 253)) no-repeat;
    max-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
.navcontainer, #logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 2em;
    background-color: rgba(137, 43, 226, 0.5);
    flex-grow: 0.8;
    border-radius: 5em;
    
}
.navbar ul{
    display: flex;
    justify-content: flex-end;
    gap: 2vw;
    /* flex-grow: .5; */
}
